
body{
	font-family: "Latolight";
	}
  .menu h2{
  	padding-top:30px;
  }
  .menu li{
  	display: inline-block;
  	padding:35px;
  }

.imgblog img {
	width: 277px;
    height: 225px;
}
.bg-gray2 {
    width: 870px;
    height: 225px;
    position: relative;
    left: 85px;
    background-color: #D8D9DD;
}
.bg-gray2 h5 {
	color: #BFC2C7;
}
.bg-gray2 p {
	font-size: 15px;
}
.vermas {
	width: 250px;
	height: 43px;
	text-align: center;
	padding-top: 10px;
	background-color: #192951;
	border-radius: 5px;
	margin-bottom: 70px;
	position: relative;
	left: 0px;
	top: 18px;
	color: white;
}
.contactanos{
	width: 100%;
	height: 580px;
	background-image: url(../img/shoes_1.jpg);
	background-repeat: no-repeat;
	background-position: right;
}
#nombre, #email{
	width: 100%;
    outline: none;
    padding: 10px;
    background: none;
    border: none;
    border: 2px solid rgb(83, 88, 95);
}
#mensaje{
	font-size: 16px;
    width: 100%;
    height: 100px;
    outline: none;
    background: none;
    border: none;
    border: 2px solid rgb(83, 88, 95); 
}
.enviar{
	width: 100%;
	height: 65px;
	padding: 12px;
	background-color: #192951;
	border-radius: 5px;
	margin: 0 auto;
	font-size: 15px;
	border-radius: 5px;
}
.caja{
	padding-bottom: 10px;
}

.formulario{
	background-image: url(../img/shoes_1.jpg); 
	background-repeat: no-repeat; 
	background-position: right; 
	background-size: auto;
	height: 450px;
}
.formulario h1{
	padding: 30px;
}