  *{outline: 1px solid rgba(255,0,0,0.1);}/* Inserta tu codigo aqui */
  .menu h2{
  	padding-top:30px;
  }
  .menu li{
  	display: inline-block;
  	padding:35px;
  }
  .hero{
  	width: 100%;
  	background-image: url(../img/dance_1.jpg);
  	background-size: cover;
  	height: 380px;
  }
 .studio{
 	width: 38%;
 	padding: 0;
 }
 .studio h1{
 	font-size: 60px;
 }
 .Julliart{
 	width: 38%;
 	padding: 15px 170px 0 130px;
 	font-size: 13px; 
 }
 .inscribete{
	width: 9%;
	height: 40px;
	padding: 12px;
	text-align: center;
	position: relative;
	left: 130px;
	top: 30px;
	font-size: 13px;
}
.slogan{
	width: 100%;
	height: 380px;
	background: url(../img/textura_2.jpg)repeat;
}
.slogan img{
	width: 10%;
	height: 30%;
}
.slogan p{
	font-size: 22px;
}
 .Ofertadeclases{
	width: 280px;
	height: 55px;
	padding: 12px;
	background-color: #192951;
	border-radius: 5px;
	margin: 0 auto;
	text-align: center;
}
.Ofertadeclases p{
	font-size: 15px;
}
.Instructors{
	width: 100%;
  	height: 300px;
  	border: 2px solid #000000;
  	margin-left: 0;
}


.imgleft{
  
  	background-image: url(../img/instructor_4.jpg);
  	background-size: cover;
  	height: 296px;
 	
  }
.imgright{
  	background-image: url(../img/profesor_9.jpg);
  	background-size: cover;
  	height: 296px;
  	background-position: top;
}

 .usinstructors{
	width: 500px;
	height: 80px;
	padding: 20px;
	background-color: #192951;
	text-align: center;
	position: relative;
	top: 220px;
	left: 360px;
	font-size: 20px;	
}
.poema{
	width: 100%;
	height: 300px;
	background: url(../img/textura_2.jpg)repeat;
	font-size: 40px;
	padding: 110px 180px;
}

.Visitanos{
	width: 100%;
	height: 300px;
	background: url(../img/textura_2.jpg)repeat;
	font-size: 40px;
	padding: 110px 180px;
}